#mystyle {
  -webkit-text-fill-color: transparent;
  background-image: url("https://img.gifmagazine.net/gifmagazine/images/4017095/original.mp4");
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}
